<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8"/>
<meta name="description" content="this is the site"/>
<title>My Lawyer Application</title>
<style>

</style>

</head>
<body >
  
  <font  align="center" color="red" size="10" face="arial"> My Lawyer Application </font>
  <p>
   <i> Welcome to<u> My Lawyer Application</u>, 
    the first application in <b>Algeria</b> that allows you to find quickly a lawyer
     and make an appointment with him.</i>
     <br>
     <br>
     <br> <br>
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8GkwxDvChdhmEEvVOAQRnGW8fNWeQ_bFA1g&usqp=CAU" alt="photo" width="400" height="200">
     <br>
     <br>
     <br> 
    </p>
    
     

     <form>

      <h1> Are you ..?</h1>
      <label> Lawyer </label>
      <input type="radio" value="lawyer" name="lawyer">
      <label> Client </label>
      <input type="radio"value="lawyer" name="lawyer">
      <input type="submit" >

      

     </form>
      <br>
      <br>
     
       <form>
       
<input type="text " placeholder="name"> <br>
<form></form><input type="email" placeholder="email">  <br> </form>   
<form>  <input type="password " placeholder="password"> <br></form>  
<form>  <input type="tel" placeholder="number phone">  <br>  </form>  
<br>
<br>
<button type="submit"> Click here</button>   
</form>
   

    
 

 

</body>
</html>









